@keyframes spinny {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(720deg);
    }
}
@keyframes spinny {
 0% {
 transform: rotate(0deg) scale(0.1,0.1);
 }
 50% {
 transform: rotate(720deg) scale(1.25,1.25);
 }
}
@keyframes spinny {
 0% {
 transform: rotate(0deg) scale(0.1,0.1);
 opacity: 1;
 }
 50% {
 transform: rotate(720deg) scale(1.25,1.25);
 }
70% {
filter: none;
opacity: 1;
}
100% {
filter: none;
opacity: 1;
}
}
.spinner {
text-align: center;
position: absolute;
top: 40%;
left: 40%;
animation: spinny 4s linear 0s 1 normal;
transform: scale(1.25,1.25);
}
