header {
  background-image: url("/images/header.gif");
  background-repeat: repeat;
}
body {
  background-image: url("/images/background.jpg");
  background-repeat: repeat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.custom-cur {
  cursor: url('/images/cursor.png'), auto;
}
.secret {
  cursor: url('/images/cursor2.png'), auto;
}
input {

    background: transparent;
    border: none !important;
    font-size:0;
}
